<a href="https://colab.research.google.com/github/tbilach13/PYTH225_Homework/blob/master/PYTH225_Bilach_basic_data_types_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. 
# The program won't run if you leave it blank, 
# but you don't want to forget you need it! Make a workaround.

var = None
print(var)



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, 
# and add a note to remind yourself what this variable represents. 
# Now print it out without re-typing the number.

fav_num = 13  # This is my favority number
print(fav_num)

# Create another variable that represents your favorite color, 
# and do the same steps as above.

fav_color = "black"  # This is my favority color
print(fav_color)

13
black



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. 
# Add a comment that includes the song title and artist **each on their own line**! 
# Now print out this variable.

# Johnny Cash
# The One On The Right Is On The Left

lyrics = """
Well, the one on the right was on the left
And the one in the middle was on the right
And the one on the left was in the middle
And the guy in the rear burned his driver's license.
"""
print(lyrics)

# 99 Bottles of Beer on the Wall

num_bottles = 99 

lyrics_99 = f"""
{num_bottles} bottles of beer on the wall,
{num_bottles} bottes of beer,
take one down, pass it around,
{num_bottles - 1} bottles of beer on the wall.
"""
print(lyrics_99)

Well, the one on the right was on the left
And the one in the middle was on the right
And the one on the left was in the middle
And the guy in the rear burned his driver's license.


99 bottles of beer on the wall,
99 bottes of beer,
take one down, pass it around,
98 bottles of beer on the wall.

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. 
# As this person plays, you need to update their score to reflect gains and losses in points. 
# Each math operation below dictates the change in the 
# competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50

add_50 = latest_score + 50
print(add_50)

# Subtract 90

sub_90 = add_50 - 90
print(sub_90)

# Multiply 10

mult_10 = sub_90 * 10
print(mult_10)

# Divide 150

div_150 = mult_10 / 150
print(div_150)

# Modulus 3

mod_3 = div_150 % 3
print(mod_3) # 4 mod 3 results in a remainder of 1



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

first_half = "I should be working out right now"
second_half = "but, I'd rather be programming"



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2

print(a + b)

# B)
c = '0'
d = '2'

print(c + d)

# C)
e = '0'
f = 2

print(int(e) + f)

# or,

print(e + str(f))

2
02
2
02



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a + b)  #  1 + 1

# B)
c = False
d = False

print(c + d) # 0 + 0

# C)
e = True
f = False

print(e + f) # 1 + 0

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5

five = float(five)
print(five)
print(type(five))

five = int(five)
print(five)
print(type(five))

zero = 0

zero = float(zero)
print(zero)
print(type(zero))

zero = int(zero)
print(zero)
print(type(zero))

neg_8 = -8

neg_8 = float(neg_8)
print(neg_8)
print(type(neg_8))

neg_8 = int(neg_8) 
print(neg_8)
print(type(neg_8))

neg_22 = -22

neg_22 = float(neg_22)
print(neg_22)
print(type(neg_22))

neg_22 = int(neg_22)
print(neg_22)
print(type(neg_22))



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. 
# Print out each result as well as its data type. What do you notice about the last one?

five = 5

five = str(five)
print(five)
print(type(five))

five = int(five)
print(five)
print(type(five))

zero = 0

zero = str(zero)
print(zero)
print(type(zero))

zero = int(0)
print(zero)
print(type(zero))

neg_8 = -8

neg_8 = str(neg_8)
print(neg_8)
print(type(neg_8))

neg_8 = int(neg_8)
print(neg_8)
print(type(neg_8))

T = True

T = str(True)
print(T)
print(type(T))

T = bool(T)
print(T)
print(type(T))

F = False

F = str(F)
print(F)
print(type(F))

F = bool(F)
print(F)
print(type(F))



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. 
# Print the result and the datatype of the result. 

one = 1
zero = 0

one_bool = bool(one)
print(one_bool)
print(type(one_bool))

zero_bool = bool(zero)
print(zero_bool)
print(type(zero_bool))

# B) Use typecasting to turn the resultant variables from part A into floats. 
# Print the result and the datatype of the result.

one_float = float(one_bool)
print(one_float)
print(type(one_float))

zero_float = float(zero_bool)
print(zero_float)
print(type(zero_float))

# C) Use typecasting to turn the resultant variables from part B back into booleans. 
# Print the result and the datatype of the result.

one_bool = bool(one_float)
print(one_bool)
print(type(one_bool))

zero_bool = bool(zero_float)
print(zero_bool)
print(type(zero_bool))

# C) Use typecasting to turn the resultant variables from part C into integers.
# Print the result and the datatype of the result.

one_int = int(one_bool)
print(one_int)
print(type(one_int))

zero_int = int(zero_bool)
print(zero_int)
print(type(zero_int))

# E) Use typecasting to turn the variable below into a boolean value. 
# Print the result and the datatype of the result. 

ten = 10

ten_bool = bool(ten)
print(ten_bool)
print(type(ten_bool))



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. 
# Print the result and the datatype of the result. 

one = 1

one_bool = bool(one)
print(one_bool)
print(type(one_bool))

zero = 0

zero_bool = bool(zero)
print(zero_bool)
print(type(zero_bool))

T = True

T_bool = bool(T)
print(T_bool)
print(type(T_bool)) # This was already a boolean

F = False

F_bool = bool(F)
print(F_bool)
print(type(F_bool)) # This was already a boolean


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. 
# Print the result and the datatype of the result.

one_int = int(one_bool)
print(one_int)
print(type(one_int))

zero_int = int(zero_bool)
print(zero_int)
print(type(zero_int))

# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. 
#Print the result and the datatype of the result.

# T and F are already booleans
# This section asked to turn T and F into booleans
# Is this wrong?

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items

item_name_1 = str("Toilet Paper")
item_name_2 = str("Tooth Brush")
item_name_3 = str("Milk")
item_name_4 = str("Bread")
item_name_5 = str("Eggs")

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = float(.89)
item_price_2 = float(2.25)
item_price_3 = float(3.39)
item_price_4 = float(1.59)
item_price_5 = float(1.99)

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 3
item_quant_2 = 1
item_quant_3 = 1
item_quant_4 = 6
item_quant_5 = 2

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_price_1

print(f'{item_quant_1} {item_name_1} = ${item_quant_1*item_price_1}')
print(f'{item_quant_2} {item_name_2} = ${item_quant_2*item_price_2}')
print(f'{item_quant_3} {item_name_3} = ${item_quant_3*item_price_3}')
print(f'{item_quant_4} {item_name_4} = ${item_quant_4*item_price_4}')
print(f'{item_quant_5} {item_name_5} = ${item_quant_5*item_price_5}')



### P2.PY

In [0]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

# item_name_1 = input('Name your first item: ') 
# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input('Please name your first item here: ')
item_name_2 = input('Please name your second item here: ')
item_name_3 = input('Please name your third item here: ')
item_name_4 = input('Please name your fourth item here: ')
item_name_5 = input('Please name your fifth item here: ')

# use input() function and ask user to name prices
item_price_1 = float(input('Please list the price of the first item: '))
item_price_2 = float(input('Please list the price of the second item: '))
item_price_3 = float(input('Please list the price of the third item: '))
item_price_4 = float(input('Please list the price of the fourth item: '))
item_price_5 = float(input('Please list the price of the fifth item: '))

# use input() function and ask user to name quants
item_quant_1 = int(input('How many item(s) would you like of item 1: '))
item_quant_2 = int(input('How many item(s) would you like of item 2: '))
item_quant_3 = int(input('How many item(s) would you like of item 3: '))
item_quant_4 = int(input('How many item(s) would you like of item 4: '))
item_quant_5 = int(input('How many item(s) would you like of item 5: '))

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_price_1

# JUST REMEMBER: now this will be defined by the user!!
print(f'{item_quant_1} {item_name_1} = ${item_quant_1*item_price_1}')
print(f'{item_quant_2} {item_name_2} = ${item_quant_2*item_price_2}')
print(f'{item_quant_3} {item_name_3} = ${item_quant_3*item_price_3}')
print(f'{item_quant_4} {item_name_4} = ${item_quant_4*item_price_4}')
print(f'{item_quant_5} {item_name_5} = ${item_quant_5*item_price_5}')