<a href="https://colab.research.google.com/github/tbilach13/PYTH225_Homework/blob/master/PYTH225_Bilach_dict_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  DICTS

## BASICS

### P1.PY

In [0]:
"""
Intro to Dict Concepts
"""

# A) Declare an empty dict as d1.

di = {}

# B) Create a dict called d2 containing the first and last names below:
# Anthony Paollelo, Ping Qiao, Enrique Alvarez, Arjun Dhir 

d2 = {
    'Anthony': 'Paollelo',
    'Ping': 'Qiao',
    'Enrique': 'Alvarez',
    'Arjun': 'Dhir'
}

# C) Add Allison Zhang person to d2.

d2.update({'Allison': 'Zhang'})

# D) How many people are now in d2? Print out all their *first* names in the vars below.

num_people = len( list(d2.items()) )  # We can just count the items
print(f'There are {num_people} people in the dictionary.')

first_names = list(d2.keys())
first_names_no_commas = ', '.join(first_names)
print(f'First names: {first_names_no_commas}.')

# E) Delete a random person from d2 and print his/her name in the var below.

# I am using .popitem()
# This removes an arbitrary key value pair from d2 and returns it as a tuple

x = d2.popitem()
print(x)
print(d2)

# F) Re-add the name you deleted to the end of d2.

d2.update({'Allison': 'Zhang'})
print(d2)

There are 5 people in the dictionary.
First names: Anthony, Ping, Enrique, Arjun, Allison.
('Allison', 'Zhang')
{'Anthony': 'Paollelo', 'Ping': 'Qiao', 'Enrique': 'Alvarez', 'Arjun': 'Dhir'}
{'Anthony': 'Paollelo', 'Ping': 'Qiao', 'Enrique': 'Alvarez', 'Arjun': 'Dhir', 'Allison': 'Zhang'}



### P2.PY

In [0]:
"""
Predators & Prey
"""

# A) Create a dict called "pred_prey", containing:
### 3 carnivorous marine animals
### For each carnivore, 3 examples of its prey

pred_prey = {
    'lion': ['antelope', 'turle', 'human'],
    'eagle': ['squirrel', 'raccoon', 'rabbit'],
    'shark': ['dolphin', 'sea lion', 'human']
}

print(pred_prey)

# B) Print out the 2nd predator and its prey in this format:
#### predator2: prey1, prey2, & prey3
import copy

pred_prey_2 = copy.deepcopy(pred_prey)
pred_prey_list = list(pred_prey_2.items())
pred_prey_eagle = pred_prey_list[1][1]
pred_prey_eagle.insert(2, 'and ')  # Insert the & after raccoon

first_part = pred_prey_eagle[:3]
print(first_part)
second_part = pred_prey_eagle[3:]
print(second_part)

pred_prey_first = ', '.join(first_part)
pred_prey_second = ''.join(second_part)
total_prey = pred_prey_first + pred_prey_second

print(f'The {pred_prey_list[1][0]} predator has the following prey: {total_prey}.')

# C) Print a unique collection of all the prey in a variable called "prey".
prey_list = list(pred_prey.values())
flat_list = []

for sublist in prey_list:
  for item in sublist:
    flat_list.append(item)

prey = set(flat_list)
print(prey)

{'lion': ['antelope', 'turle', 'buffaloe'], 'eagle': ['squirrel', 'raccoon', 'rabbit'], 'shark': ['dolphin', 'sea lion', 'human']}
['squirrel', 'raccoon', 'and ']
['rabbit']
The eagle predator has the following prey: squirrel, raccoon, and rabbit.
{'rabbit', 'human', 'sea lion', 'squirrel', 'dolphin', 'antelope', 'raccoon', 'buffaloe', 'turle'}



### P3.PY

In [0]:
"""
Merging Dicts
"""

# Merge these two dicts without creating a new one.

d1 = {
    'a': 100,
    'b': 200
    }

d2 = {
    'c': 300, 
    'd': 400, 
    'e': 500
    }

d1.update(d2)  # All the elements in dictionary 2 were added into dictionary 1
print(f'The update dictionary is: {d1}')



### P4.PY

In [0]:
"""
Lists to Dicts
"""

# Turn these two lists into a dict called grades.

names = ['Taq', 'Zola', 'Valerie', 'Valerie']
scores = [[98, 89, 92, 94], [86, 45, 98, 100], [100, 100, 100, 100], [76, 79, 80, 82]]

grades = dict(zip(names, scores))
print(f'The dictionary of persons and their grades is as follows {grades}.')

The dictionary of persons and their grades is as follows {'Taq': [98, 89, 92, 94], 'Zola': [86, 45, 98, 100], 'Valerie': [76, 79, 80, 82]}.

## DICT MANIPULATION

### P1.PY

In [0]:
"""
Basic Login
"""

# Imagine you work for a movie streaming service. 
# You're in charge of safeguarding user privacy by ensuring the login feature remains secure. 
# For the sake of this example only, below is the dict of user login info. 
# Normally, you wouldn't have access to see this unencrypted of course!

users = {
	'person@email.com': 'PassWord',
	'someone@email.com': 'hiitsme',
	'me@email.com': 'myPassword',
	'anyone@email.com': 'IMawesome',
	'guy@email.com': 'pa$$wordz'
	# etc
}

# A user enters the below login info (email and password) for your app. 
# Search your database of user logins to see if this account exists 
# and if the password matches what you have on file. 
# If the login credentials are correct, print "Successful login!". 
# Otherwise, print "The login info you entered does not match any of our records."

current_user = {'me@email.com': 'myPassword'}

for key, value in users.items():
	if key in current_user.keys() and value in current_user.values():
		print("Successful login!")
		break
else:
		print("The login information you provided does not match our records.")

Successful login!



### P2.PY

In [0]:
"""
Math with Girl Scout Cookies
"""

# Print out the number of boxes of girl scout cookies that each girl in the troop sold in the below format:
	# Wendy: _____
	# Connie: _____
	# Francesca: _____

Wendy = {
		'tagalongs': 5,
		'thin mints': 12,
		'samoas': 8
		}
Connie = {
		'tagalongs': 10,
		'thin mints': 4,
		'samoas': 12
		}
Francesca = {
		'tagalongs': 18,
		'thin mints': 14,
		'samoas': 10
		}

print(f'''
Wendy: {sum(Wendy.values())}
Connie: {sum(Connie.values())}
Samoas: {sum(Francesca.values())}
'''
)

# For each type of girl scout cookie, print out the total number of boxes sold in the below format:
	# tagalongs: _____
	# thin mints: _____
	# samoas: _____

total_tagalongs = Wendy['tagalongs'] + Connie['tagalongs'] + Francesca['tagalongs']
total_thinmints = Wendy['thin mints'] + Connie['thin mints'] + Francesca['thin mints']
total_samoas = Wendy['samoas'] + Connie['samoas'] + Francesca['samoas']

print(f'''
tagalongs: {total_tagalongs}
thin mints: {total_thinmints}
samoas: {total_samoas}
'''
)

# For each type of girl scout cookie, print out the average number of boxes sold in the below format:
	# tagalongs: _____
	# thin mints: _____
	# samoas: _____

avg_tagalongs = total_tagalongs / len(Wendy.keys())
avg_thinmints = total_thinmints / len(Connie.keys())
avg_samoas = total_samoas / len(Francesca.keys())

print(f'''
tagalongs: {avg_tagalongs}
thin mints: {avg_thinmints}
samoas: {avg_samoas}
'''
)

# Print out total the number of boxes of cookies the girls sold collectively as follows:
	# "This year we sold ______ boxes!"

boxes_sold = sum(Wendy.values()) + sum(Connie.values()) + sum(Francesca.values())

print(f'This year we sold {boxes_sold} boxes!')



### P3.PY

In [0]:
"""
Inverting Keys & Values
"""

# Invert dict1 - make the current keys into values and the current values into keys.

dict1 = {
    "k1" : "v1",
    "k2" : "v2",
    "k3" : "v1"
    }

new_dict = {}

for key, value in dict1.items():
  new_pair = {value: key}
  new_dict.update(new_pair)
print(new_dict)

# Or
version_2 = {value: key for key, value in dict1.items()}
print(version_2)

{'v1': 'k3', 'v2': 'k2'}
{'v1': 'k3', 'v2': 'k2'}

## DICT LOOPS

### P1.PY

In [0]:
"""
Contacts
"""

# You went to a conference and got people to sign up for text updates from your startup. 
# Go through this dict to make the phone numbers readable to a computer. 

# Hint: It can't include any non-numeric
# characters.

contacts = {
	'Jamie': '1.192.168.0143',
	'Kartik': '1.837.209.1121',
	'Grant': '1.826.386.1758',
	'Brandon': '1.935.297.9447',
	'Monique': '1.702.716.5353',
	'Sohom': '1.576.619.6100',
}

for key, value in contacts.items():
	contacts[key] = value.replace('.', ' ')
print(contacts)



### P2.PY

In [0]:
"""
Grades
"""
# Here's a dict containing students' grades from the semester's assignments.

students = {
  'Ashton': [86, 45, 98, 100],
  'Sierra': [100, 100, 100, 100],
  'Zach': [38, 49, 90, 87],
  'Manuel': [98, 92, 86, 100],
  'Felicia': [94, 87, 89, 95],
  'Ankur': [75, 77, 77, 85],
  'Ananya': [98, 94, 87, 92],
  'Nick': [79, 84, 89, 90],
  'Olivia': [83, 91, 69, 85],
  'Molly': [83, 74, 72, 90]
}

# p 1.1) Create a dict called num_grades to store each student's average numerical grade for the semester.

num_grades = {}

for key, value in students.items():
  avg_pairing = { key: (sum(value) / 4) }
  num_grades.update(avg_pairing)
  print(num_grades[key])

# p 1.2) Create a dict called letter_grades to store each student's final letter grade for the semester. 
# Use A, B, C, D, and F as grades per the standard grading scale.

letter_grades = {}

for key, value in num_grades.items():
  if num_grades[key] < 0 or num_grades[key] > 100:
    letter_grades.update({key: 'Error'})

  elif num_grades[key] >= 90 and num_grades[key] <= 100:
    letter_grades.update({key: 'A'})
  elif num_grades[key] >= 80 and num_grades[key] < 90:
    letter_grades.update({key: 'B'})
  elif num_grades[key] >= 70 and num_grades[key] < 80:
    letter_grades.update({key: 'C'})
  elif num_grades[key] >= 65 and num_grades[key] < 70:
    letter_grades.update({key: 'D'})
  else:
    letter_grades.update({key: 'F'})
  print(letter_grades[key])

# p 1.3) Create a list of honor roll students (i.e. students who got A's).

honor_roll = []

for key, value in letter_grades.items():
  if letter_grades[key] == "A":
    honor_roll.append(key)

joined = ', '.join(honor_roll)
print(f'The names of students on the honor include: {joined}.')

82.25
100.0
66.0
94.0
91.25
78.5
92.75
85.5
82.0
79.75
B
A
D
A
A
C
A
B
B
C
The names of students on the honor include: Sierra, Manuel, Felicia, Ananya.



### P3.PY

In [0]:
"""
Price Inventory
"""

# Imagine you're the owner of an Italian restaurant. 
# You're evaluating your pricing to make sure it's up to date 
# with the latest costs of making each menu item 
# (see the menu prices and costs dicts below). 
# Evaluate whether each item's price returns a profit margin of at least $1.00. 
# If it doesn't, update the menu_prices dict with a new price that gives the item a $1.00 profit margin. 
# Then print out the items which you've repriced in a new dict called price_increases.

menu_prices = {
	'fettuccine bolognese': 14.99,
	'gnocchi gorgonzola': 10.99,
	'chicken parmigiano': 13.99,
	'butternut squash risotto': 9.99,
	'spaghetti carbonara': 12.99,
	'pizza margherita': 12.99,
	'chicken marsala': 13.99
}

menu_costs = {
	'fettuccine bolognese': 12.50,
	'gnocchi gorgonzola': 11.25,
	'chicken parmigiano': 11.75,
	'butternut squash risotto': 6.33,
	'spaghetti carbonara': 12.90,
	'pizza margherita': 14.00,
	'chicken marsala': 11.75
}

price_increases = {}

for key, value in menu_prices.items():
	if ( menu_prices[key] - menu_costs[key] ) >= 1:  # Already profiting
		continue

	if float("-inf") < ( menu_prices[key] - menu_costs[key] ) < 0:
		diff = menu_prices[key] - menu_costs[key]

		new_price = menu_prices[key] + abs(diff) + 1
		price_increases.update({key: new_price})
	
	elif 0 < ( menu_prices[key] - menu_costs[key] ) < 1:
		diff = menu_prices[key] - menu_costs[key]
		
		new_price = menu_prices[key] + diff
		price_increases.update({key: new_price})
	
	elif (menu_prices[key] - menu_costs[key] ) == 0:
		new_price = menu_prices[key] + 1
		price_increases.update({key: new_price})

print(price_increases)

{'gnocchi gorgonzola': 12.25, 'spaghetti carbonara': 13.08, 'pizza margherita': 15.0}

## COUNTERS CHALLENGE

### P1.PY

In [0]:
"""
Word Frequency
"""

# Print out the number of words in this movie quote. Find and print out the most common word in the quote and how many times it was used.
### Hint: You do not need a loop for this. Look up the Counter docs in python3.

from collections import Counter

princess_bride = [
'Hello', 'my', 'name', 'is', 'Inigo', 'Montoya',
'You', 'killed', 'my', 'father',
'Prepare', 'to', 'die'
]

### fave_word = 

# p.s. You might use this to help analyze the most common topic in comments or reviews from your users to help understand the best places to improve you product.



### P2.PY

In [15]:
"""
Summing Dict Values
"""

# Two Kindergarten teachers poll their classes for what fruit they want to eat for snacktime tomorrow. 
# Only one of them is going shopping, so she needs to know how many of each fruit she needs to buy in total. 
# Tally these up and assign them to the "shopping_list" dict.

poll1 = {'apples': 8, 'bananas': 12}
poll2 = {'apples': 6, 'bananas': 6, 'clementines': 8}

shopping_list = {}

all_items = []
all_items.extend(poll1.items())
all_items.extend(poll2.items())
print(all_items)

for fruit, number in all_items:
  if fruit not in shopping_list:
    shopping_list[fruit] = 0

  shopping_list[fruit] += number

print(shopping_list)

[('apples', 8), ('bananas', 12), ('apples', 6), ('bananas', 6), ('clementines', 8)]
{'apples': 14, 'bananas': 18, 'clementines': 8}

In [8]:
print(all_items)

[('apples', 8), ('bananas', 12), ('apples', 6), ('bananas', 6), ('clementines', 8)]