<a href="https://colab.research.google.com/github/tbilach13/PYTH225_Homework/blob/master/PYTH225_Bilach_lists_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [0]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.
animals = ['elephant', 'tiger', 'otter', 'orangutan', 'peguin']
print(animals)

# Print the 4th animal on the list.
print(animals[3])

# Add 'tortoise' to the beginning of the list.
animals.insert(0, 'tortoise')
print(animals)

# Print the length of the list.
print(len(animals))

# Remove 'orangutan' from the list.
animals.pop(4)
print(animals)

# Sort the list alphabetically and print it out.
animals.sort()
print(animals)



### P2.PY

In [0]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.
names = ["Tom", "Tim", "Ted", "Mike", "Lin"]
print(names)

# Print the 3rd name on the list
print(names[2])

# Delete the first name on the list
names.pop(0)
print(names)

# Re-add the name you deleted to the end of the list
names.extend(["Tom"])
print(names)

# Replace the 2nd name on the list with a new name.
names[1] = "Ken"
print(names)

# Add 3 new names to the end of the list.
new_names = ["Joe", "Bob", "Rebecca"]
names.extend(new_names)
print(names)

['Tom', 'Tim', 'Ted', 'Mike', 'Lin']
Ted
['Tim', 'Ted', 'Mike', 'Lin']
['Tim', 'Ted', 'Mike', 'Lin', 'Tom']
['Tim', 'Ken', 'Mike', 'Lin', 'Tom']
['Tim', 'Ken', 'Mike', 'Lin', 'Tom', 'Joe', 'Bob', 'Rebecca']



### P3.PY

In [0]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.
numbers = [2, 4, 6, 8]

# Print the max of `numbers`.
print(max(numbers))

# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.
numbers.pop()
numbers.insert(2, 8)
print(numbers) 

# Pop the second number in `numbers` off.
numbers.pop(1)
print(numbers) 

# Append `3` to `numbers`.
numbers.append(3)
print(numbers) 

# Print out the average number.
avg = sum(numbers) / len(numbers)
print(avg)

# Or

import numpy as np
np.mean(numbers)



## SORTING

### P1.PY

In [0]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. 
# Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.

ascending_playlist = sorted(playlist_titles)
print(ascending_playlist)

# Now do the reverse.
descending_playlist = sorted(playlist_titles, reverse = True)
print(descending_playlist)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [0]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

from random import randint

# 1st way

numbers = [None] * 6
print(numbers) # Pre-allocated list

for i in range(0, 6):
  x = randint(0, 9)  # 6 numbers, integers between 0 - 9 (inclusive)
  numbers[i] = x
print(sorted(numbers))

# 2nd way

numbers_2 = []  # Empty list here

for i in range(0, 6):
  numbers_2.append(randint(0, 9))

print(sorted(numbers_2))

[None, None, None, None, None, None]
[1, 1, 3, 5, 6, 8]
[1, 1, 2, 3, 4, 9]

## LIST MANIPULATION

### P1.PY

In [0]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'

numbers_only = cell.split('.')
print(numbers_only)  # Now digit sequences are separated and put in a list
print(f"The phone number without periods or decimals is as follows: {'-'.join(numbers_only)}")
print(f"The phone number removing dashes between major digit sequences is: {' '.join(numbers_only)}")

['1', '192', '168', '0143']
The phone number without periods or decimals is as follows: 1-192-168-0143
The phone number removing dashes between major digit sequences is: 1 192 168 0143



### P2.PY

In [0]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =

import numpy as np

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]

my_sum = sum(nums)
my_min = min(nums)
my_max = max(nums)
my_range = ( max(nums) - min(nums) )
my_mean = np.mean(nums)

print(f'''
Enumerated below are some \nsummary statistics:
The sum is {my_sum}
The minimum is {my_min}
The max is {my_max}
The range is {my_range}
The range is {my_mean}
''')

# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

Enumerated below are
summary statistics:
The sum is 174
The minimum is 2
The max is 30
The range is 28
The range is 17.4



### P3.PY

In [0]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]

print(list1)
print(list2) 

# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = list1 + list1
print(list3)

# B) Combine the two given lists and assign them to list4.
list4 = list3 + list2 
print(list4)

# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:3] = 13, 16, 19
print(list3)

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = set(list3 + list4)
print(list5)

# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

[2, 8, 6]
[10, 4, 12]
[2, 8, 6, 2, 8, 6]
[2, 8, 6, 2, 8, 6, 10, 4, 12]
[13, 16, 19, 2, 8, 6]
{2, 4, 6, 8, 10, 12, 13, 16, 19}



### P4.PY

In [0]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), 
# each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

for lyrics in enumerate(cool_runnings):
	index = lyrics[0]
	words = lyrics[1]
	print(f'The word we are up to is {words}')
	if words == "bobsled":
		print('Hey, we found bobsled now replace it with YOLO!\nSee down below:\n')
		cool_runnings[index] = "YOLO"
		break
print(cool_runnings, '\n')

# Print it on four lines

multiple_lines = ' '.join(cool_runnings)

print(f'Here are the lyrics on one line: {multiple_lines}')
print(f'Here are the lyrics on separate lines:\n\nFeel the rhythm.\nFeel the rhyme.\nGet on up.\nIt\'s YOLO time!')

The word we are up to is Feel
The word we are up to is the
The word we are up to is rhythm.
The word we are up to is Feel
The word we are up to is the
The word we are up to is rhyme.
The word we are up to is Get
The word we are up to is on
The word we are up to is up.
The word we are up to is It's
The word we are up to is bobsled
Hey, we found bobsled now replace it with YOLO!
See down below:

['Feel', 'the', 'rhythm.', 'Feel', 'the', 'rhyme.', 'Get', 'on', 'up.', "It's", 'YOLO', 'time!']

Here are the lyrics on one line: Feel the rhythm. Feel the rhyme. Get on up. It's YOLO time!
Here are the lyrics on separate lines:

Feel the rhythm.
Feel the rhyme.
Get on up.
It's YOLO time!

## LIST CHALLENGES

### P1.PY

In [0]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

print(tuple1[0][0] + list1[0])
print(tuple1[0][1] + list1[1])
print(tuple1[1][0] + list1[2])
print(tuple1[1][1] + list1[3])
print(tuple1[2][0] + list1[4])
print(tuple1[2][1] + list1[5])



### P2.PY

In [0]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample.
# Print them out separately, but in the same format as before.

	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

import pandas as pd
import statistics as stats
import numpy as np

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]
print(sorted(sample))

my_median = np.median(sample)
my_mode = max(set(sample), key = sample.count)
my_sd = stats.stdev(sample)
my_variance = my_sd**2

# Once you finish, print out each value **on its own line** in this format: "median = " etc.

print(f"""
Median = {my_median}
Mode = {my_mode}
Variance = {my_variance}
Standard Deviation = {my_sd}
""")